qiskit==1.2.4
qiskit-aer==0.15.1
qiskit-aer-gpu==0.15.1
qiskit-aer-gpu-cu11==0.15.1
qiskit-algorithms==0.3.1
qiskit-ibm-provider==0.11.0
qiskit-ibm-runtime==0.29.0
qiskit-optimization==0.6.1
qiskit-qasm3-import==0.5.1
qiskit-transpiler-service==0.4.14
pennylane==0.38.0
pennylane-lightning==0.38.0
pennylane-lightning-gpu==0.38.0
evovaq==1.0.22
numpy==2.2.6
networkx==3.4.2
pandapower==3.4.0
pandas==2.3.3
scipy==1.14.1
pulp==3.3.0
seaborn==0.13.2